.catalog-content {
    margin: 0 auto;
}

.catalog-content .categories-nav {
    height: 30px;
    background-color: #002137;
    ;
}

.catalog-content .categories-nav span {
    display: inline-block;
    height: 30px;
}

.catalog-content .categories-nav span a {
    display: table-cell;
    height: 30px;
    text-decoration: none;
    vertical-align: middle;
    color: #007dd1;
    padding-left: 10px;
}

.catalog-content .categories-nav span a:hover {
    color: #E8EAF6
}

.catalog-content .subcategories-list {
    padding: 10px;
}

.catalog-content .subcategories-list span {
    background-color: #002137;
    display: inline-block;
    height: 30px;
    border-radius: 15px;

}

.catalog-content .subcategories-list span a {
    display: table-cell;
    height: 30px;
    text-decoration: none;
    vertical-align: middle;
    color: #007dd1;
    padding: 0 10px;
}

.catalog-content .subcategories-list span:hover {
    background-color: #1d334a;
}

.catalog-content .subcategories-list span:hover a {
    color: #008cf0;
}

.catalog-content .pages-navigation {
    Margin-top: 15px;
}