.products-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    grid-row-gap: 2em;
}

.products-list .product {
    width: 95%;
    background-color: #002137;
}

.products-list .product.name {
    display: block;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background-color: #002137;
    color: #3F51B5;
}

.products-list .product.name a,
.products-list .product.name a:visited,
.products-list .product.name a:hover,
.products-list .product.name a:active {
    color: #007dd1;
}

.products-list .product.image {
    display: block;
    background-size: contain;
    width: 100%;
    height: 350px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: #3F51B5;
}

.products-list .product.description {
    display: block;
    height: 90px;
    width: 100%;
    padding-left: 10px;
    background-color: black;
    color: #3F51B5;
}

.products-list .product.price {
    display: block;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    background-color: black;
    color: #007dd1;
}

.products-list .product.buy-controls {
    display: block;
    padding-left: 10px;
    height: 30px;
    width: 100%;
}

.products-list .product.buy-controls .wrapper {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.products-list .product.buy-controls .buy-control {
    display: inline-block;
}

.products-list .product.buy-controls .buy-control.plus,
.products-list .product.buy-controls .buy-control.minus {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: black;
    color: #007dd1;
}

.products-list .product.buy-controls .buy-control.text {
    width: 30px;
}