.product-content .product.buy-controls {
    float: inline-start;
    padding-left: 10px;
    height: 30px;
    width: 100%;
}

.product-content .product.buy-controls .wrapper {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-content .product {
    display: inline-block;
}

.product-content .product.image {
    display: inline-block;
    background-size: contain;
    padding-left: 5px;
    padding-right: 5px;
    height: 350px;

    background-color: black;
    color: #007dd1;
}

.product-content .product.text {
    float: inline-end;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    color: #007dd1;
}

.product-content .product.text.name {
    padding-left: 5px;
    padding-right: 5px;
    color: #007dd1;
    font-size: 24px;
    float: inline-start;
}

.product-content .product.text.name a {
    color: #007dd1;
}

.product-content .product.text.description {

    background-size: contain;
    padding-left: 20px;
    padding-right: 20px;
    color: #007dd1;
    display: block;
    float: inline-start;
    padding-top: 10px;
}
}

.product-content .product.text.price {
    padding-left: 10px;
    padding-right: 5px;
    color: #57b9ff;
    display: block;
    float: inline-start;
    padding-top: 10px;
}

.product-content .product.buy-controls .buy-control {
    float: inline-start;
}

.product-content .product.buy-controls .buy-control.plus,
.product-content .product.buy-controls .buy-control.minus {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: black;
    color: #007dd1;
}

.product-content .product.buy-controls .buy-control.text {
    width: 30px;
}